.wrapper {
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.listbox {
  width: 100%;
}
.listitem {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.listitem > div {
  width: 33%;
}
.listitem h3 {
  font-size: 16px;
  margin-right: 20px;
}
.listitem button{
  margin: 0 15px;
  background-color: pink;
  border: 0;
  box-shadow: gray 1px 1px 2px 1px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.back{
  margin: 0 15px;
  background-color: rgb(203, 203, 203);
  border: 0;
  box-shadow: gray 1px 1px 2px 1px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.up {
  color: green;
  font-size: 20px;
  font-weight: bold;
  min-width: 100px;
}
.down {
  color: red;
  font-size: 20px;
  font-weight: bold;
  min-width: 100px;
}
.nochange {
  color: rgb(122, 122, 122);
  font-size: 20px;
  font-weight: bold;
  min-width: 100px;
}